networks:
  {{ nextcloud_network }}:
        external: true

services:

  ##############
  ### NGINX ####
  ##############
  nginx:
    container_name: nginx
    image: {{ NGINX_IMAGE }}:{{ NGINX_VERSION }}
    depends_on:
      - nextcloud
    restart: always
    ports:
      - 443:443
      - 80:80
      - 9980:9980
    networks:
      - {{ nextcloud_network }}
    volumes:
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html:ro
      - {{ NGINX_VOLUME }}/nginx.conf:/etc/nginx/nginx.conf
      - {{ NGINX_VOLUME }}/cert:/etc/nginx/cert:ro

  ################
  ### MARIADB ####
  ################
  mariadb:
    container_name: mariadb
    image: {{ MARIADB_IMAGE }}:{{ MARIADB_VERSION }}
    restart: always
    networks:
      - {{ nextcloud_network }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ MARIADB_VOLUME }}:/config
    environment:
      - MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }}
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_DATABASE={{ MYSQL_DATABASE }}
      - MYSQL_USER={{ MYSQL_USER }}

  #################
  ### NEXTCLOUD ###
  #################
  nextcloud:
    container_name: nextcloud
    image: {{ NEXTCLOUD_IMAGE }}:{{ NEXTCLOUD_VERSION }}
    depends_on:
      - mariadb
    restart: always
    networks:
      - {{ nextcloud_network }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html
    environment:
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_DATABASE={{ MYSQL_DATABASE }}
      - MYSQL_USER={{ MYSQL_USER }}
      - MYSQL_HOST=mariadb

  #################
  ### COLLABORA ###
  #################
  collabora:
    container_name: collabora
    image: {{ COLLABORA_IMAGE }}:{{ COLLABORA_VERSION }}
    depends_on:
      - nextcloud
    restart: always
    networks:
      - {{ nextcloud_network }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ NGINX_VOLUME }}/cert/ca-chain.cert.pem:/etc/coolwsd/ca-chain.cert.pem:ro
      - {{ NGINX_VOLUME }}/cert/lan-crt.pem:/etc/coolwsd/cert.pem:ro
      - {{ NGINX_VOLUME }}/cert/lan-key.pem:/etc/coolwsd/key.pem:ro
      - {{ NGINX_VOLUME }}/coolwsd.xml:/etc/coolwsd/coolwsd.xml
    environment:
      - DONT_GEN_SSL_CERT=true
      - domain=cloud.next.lan
      - password=${COLLABORA_PASSWORD}
      - username=${COLLABORA_USERNAME}
      - extra_params=--o:ssl.enable=true
      #--o:ssl.termination=false --o:net.proto=IPv4 --o:net.post_allow.host[0]=::ffff:172.[0-9]+.[0-9]+.[0-9]+ --o:net.post_allow.host=172\.1[6789]\.[0-9]{1,3}\.[0-9]{1,3} --o:net.post_allow.host=172\.2[0-9]\.[0-9]{1,3}\.[0-9]{1,3} --o:net.post_allow.host=172\.3[01]\.[0-9]{1,3}\.[0-9]{1,3}'
    extra_hosts:
      - "cloud.next.lan:192.168.2.192"