networks:
  {{ NEXTCLOUD_NETWORK }}:
        external: true

services:

  ##############
  ### NGINX ####
  ##############
  nginx:
    container_name: nginx
    image: {{ NGINX_IMAGE }}:{{ NGINX_VERSION }}
    depends_on:
      - nextcloud
    restart: always
    ports:
      - 80:80
      - {{ PORTS.NEXTCLOUD }}:{{ PORTS.NEXTCLOUD }}
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html:ro
      - {{ NGINX_VOLUME }}/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ CERT_PATH }}:{{ CERT_PATH }}:ro


  ################
  ### MARIADB ####
  ################
  mariadb:
    container_name: mariadb
    image: {{ MARIADB_IMAGE }}:{{ MARIADB_VERSION }}
    command: --transaction-isolation=READ-COMMITTED
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ MARIADB_VOLUME }}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }}
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_DATABASE={{ MYSQL_DATABASE }}
      - MYSQL_USER={{ MYSQL_USER }}
      - MYSQL_HOST=mariadb


  #################
  ### NEXTCLOUD ###
  #################
  nextcloud:
    container_name: nextcloud
    image: {{ NEXTCLOUD_IMAGE }}:{{ NEXTCLOUD_VERSION }}
    depends_on:
      - mariadb
      - redis
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ CERT_PATH }}:{{ CERT_PATH }}:ro
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html
    environment:
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_DATABASE={{ MYSQL_DATABASE }}
      - MYSQL_USER={{ MYSQL_USER }}
      - MYSQL_HOST=mariadb
      - REDIS_HOST=redis


  ######################
  ### NEXTCLOUD-CRON ###
  ######################
  nextcloud-cron:
    image: {{ NEXTCLOUD_IMAGE }}:{{ NEXTCLOUD_VERSION }}
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - mariadb
      - redis

  #############
  ### REDIS ###
  #############
  redis:
    image: {{ REDIS_IMAGE }}:{{ REDIS_VERSION }}
    command: --loglevel {{ LOGGING_LEVEL_REDIS_VALUES[LOGGING_LEVEL_NUMERIC] }}
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
       test: ["CMD", "redis-cli","ping"]


  #################
  ### COLLABORA ###
  #################
  collabora:
    container_name: collabora
    image: {{ COLLABORA_IMAGE }}:{{ COLLABORA_VERSION }}
    depends_on:
      - nextcloud
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ CERT_PATH }}:{{ CERT_PATH }}:ro
      - {{ COLLABORA_VOLUME }}/coolwsd.xml:/etc/coolwsd/coolwsd.xml:ro
    environment:
      - DONT_GEN_SSL_CERT=true
      - domain=nextcloud
      - password={{ COLLABORA_PASSWORD }}
      - username={{ COLLABORA_USERNAME }}
      - extra_params=--o:ssl.enable=true