version: "3.8"


services:

  ##############
  ### NGINX ####
  ##############
  nginx:
    image: nginx:{{ NGINX_VERSION }}
    depends_on:
      - nextcloud
    restart: always
    ports:
      - target: {{ PORTS.JELLYFIN }}
        published: {{ PORTS.JELLYFIN }}
        protocol: tcp
        mode: host
      - target: {{ PORTS.JELLYFIN_HTTPS }}
        published: {{ PORTS.JELLYFIN_HTTPS }}
        protocol: tcp
        mode: host
      - {{ PORTS.NEXTCLOUD }}:{{ PORTS.NEXTCLOUD }}
    networks:
      - {{ NEXTCLOUD_NETWORK }}
      - {{ MEDIA_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html:ro
      - {{ NGINX_VOLUME }}/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ NGINX_VOLUME }}/jellyfin.conf:/etc/nginx/sites-enabled/jellyfin.conf:ro
      - {{ NGINX_VOLUME }}/nextcloud.conf:/etc/nginx/sites-enabled/nextcloud.conf:ro
      - {{ CERT_PATH }}:{{ CERT_PATH }}:ro

networks:
  {{ NEXTCLOUD_NETWORK }}:
    external: true
  {{ MEDIA_NETWORK }}:
    external: true
