version: "3.8"


services:

  ##############
  ### NGINX ####
  ##############
  nginx:
    image: {{ NGINX_IMAGE }}:{{ NGINX_VERSION }}
    depends_on:
      - nextcloud
    restart: always
    ports:
      - 80:80
      - {{ PORTS.NEXTCLOUD }}:{{ PORTS.NEXTCLOUD }}
      - {{ PORTS.JELLYFIN }}:{{ PORTS.JELLYFIN }}
      - 8097:8097
    networks:
      - {{ NEXTCLOUD_NETWORK }}
      - {{ MEDIA_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html:ro
      - {{ NGINX_VOLUME }}/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ NGINX_VOLUME }}/jellyfin.conf:/etc/nginx/sites-enabled/jellyfin.conf:ro
      - {{ NGINX_VOLUME }}/nextcloud.conf:/etc/nginx/sites-enabled/nextcloud.conf:ro
      - {{ CERT_PATH }}:{{ CERT_PATH }}:ro

networks:
  {{ NEXTCLOUD_NETWORK }}:
    external: true
  {{ MEDIA_NETWORK }}:
    external: true
