# you must set worker processes based on your CPU cores, nginx does not benefit from setting more than that
worker_processes 4;

# number of file descriptors used for nginx
# the limit for the maximum FDs on the server is usually set by the OS.
# if you don't set FD's then OS settings will be used which is by default 2000
worker_rlimit_nofile 100000;

# LOGGING LEVEL
error_log  /var/log/nginx/error.log {{ LOGGING_LEVEL_NUMERIC is defined | ternary(LOGGING_LEVEL_NGINX_VALUES[LOGGING_LEVEL_NUMERIC], 'error') }};

pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    #allow 192.168.2.178;
    #deny all;

    include         /etc/nginx/mime.types;
    default_type    application/octet-stream;

    log_format      main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';

    access_log      off;

    # don't buffer data sent, good for small data bursts in real time
    tcp_nodelay     on;
    # send headers in one piece, it is better than sending them one by one
    tcp_nopush      on;

    # Optimize session cache
    ssl_session_cache       shared:SSL:50m;
    ssl_session_timeout     1d;

    # Enable session        tickets
    ssl_session_tickets     on;

    proxy_request_buffering off;

    # UPSTREAM PHP TIMEOUT
    fastcgi_read_timeout    36000s;
    fastcgi_send_timeout    36000s;
    fastcgi_connect_timeout 36000s;

    sendfile            on;

    upstream php-handler {
        server nextcloud:9000;
    }

    ####################
    # CACHE SETTINGS

    # VIDEOS CACHE
    # Set in-memory cache-metadata size in keys_zone, size of video caching and how many days a cached object should persist
    proxy_cache_path  /var/cache/nginx/jellyfin-videos levels=1:2 keys_zone=jellyfin-videos:100m inactive=90d max_size=10g;
    map $request_uri $h264Level { ~(h264-level=)(.+?)& $2; }
    map $request_uri $h264Profile { ~(h264-profile=)(.+?)& $2; }

    # IMAGES CACHE
    proxy_cache_path /var/cache/nginx/jellyfin levels=1:2 keys_zone=jellyfin:100m max_size=5g inactive=30d use_temp_path=off;


    include /etc/nginx/sites-enabled/*.conf; 
}