version: "3.8"


services:

  ##################
  ###  JELLYFIN  ###
  ##################
  jellyfin:
    image: {{ JELLYFIN_IMAGE }}:{{ JELLYFIN_VERSION }}
    deploy:
      replicas: 1
      update_config:
        order: start-first
    environment:
      - PUID=1000
      - PGID=1000
    restart: always
    networks:
      - {{ MEDIA_NETWORK }}
    volumes:
      - {{ JELLYFIN_VOLUME }}/config:/config
      - {{ JELLYFIN_VOLUME }}/cache:/cache
      - {{ JELLYFIN_MEDIA_VOLUME }}:/media
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

networks:
  {{ MEDIA_NETWORK }}:
    external: true
