version: "3.8"


services:

  ##################
  ###  JELLYFIN  ###
  ##################
  jellyfin:
    image: linuxserver/jellyfin:10.8.7
    restart: always
    networks:
      - {{ MEDIA_NETWORK }}
    volumes:
      - {{ JELLYFIN_VOLUME }}/config:/config
      - {{ JELLYFIN_VOLUME }}/cache:/cache
      - /media/seagate:/seagate
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

networks:
  {{ MEDIA_NETWORK }}:
    external: true
