version: "3.8"


services:

  ################
  ### MARIADB ####
  ################
  mariadb:
    image: {{ MARIADB_IMAGE }}:{{ MARIADB_VERSION }}
    command: >
      --transaction-isolation=READ-COMMITTED
      --innodb-buffer-pool-size=1024M
      --innodb-io-capacity=4000
      --innodb-buffer-pool-instances=8
      --innodb-buffer-pool-chunk-size=128M
      --join-buffer-size=256K
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ MARIADB_VOLUME }}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }}
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_DATABASE={{ MYSQL_DATABASE }}
      - MYSQL_USER={{ MYSQL_USER }}
      - MYSQL_HOST=mariadb


  #################
  ### NEXTCLOUD ###
  #################
  nextcloud:
    image: {{ NEXTCLOUD_IMAGE }}:{{ NEXTCLOUD_VERSION }}
    depends_on:
      - mariadb
      - redis
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html
      - {{ NEXTCLOUD_VOLUME }}/php-fpm.conf:/usr/local/etc/php/conf.d/custom-config.php:ro
      - {{ NEXTCLOUD_VOLUME }}/op-cache.conf:/usr/local/etc/php/conf.d/nextcloud-config.ini:ro
    environment:
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_DATABASE={{ MYSQL_DATABASE }}
      - MYSQL_USER={{ MYSQL_USER }}
      - MYSQL_HOST=mariadb
      - REDIS_HOST=redis

  ######################
  ### NEXTCLOUD-CRON ###
  ######################
  nextcloud-cron:
    image: {{ NEXTCLOUD_IMAGE }}:{{ NEXTCLOUD_VERSION }}
    deploy:
      resources:
        limits:
          cpus: '0.5'
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - {{ NEXTCLOUD_VOLUME }}:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - mariadb
      - redis

  #############
  ### REDIS ###
  #############
  redis:
    image: {{ REDIS_IMAGE }}:{{ REDIS_VERSION }}
    command: --loglevel {{ LOGGING_LEVEL_REDIS_VALUES[LOGGING_LEVEL_NUMERIC] }}
    restart: always
    networks:
      - {{ NEXTCLOUD_NETWORK }}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
       test: ["CMD", "redis-cli","ping"]

networks:
  {{ NEXTCLOUD_NETWORK }}:
    external: true
